
/*MENU:*/
body {
    margin: auto;
    text-align: justify;
}

/*Fundo cinza*/
/*Tirar os pontos da lista ul*/
nav#menu {
    display: block;
    position: absolute;
    background-color: rgb(34, 33, 33);
    width: 100%;
    margin-top: -23px;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    
}

/*alinhamento das letras do menu, fonte e espaçamento em padding*/
    @font-face {
    font-family:"Futura PT" ;
    src: url("imgs/futura-pt-light.otf") format("opentype"), url("imgs/Futura") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
nav#menu li {
    max-width: 100px;
    font-family: "Futura PT";
    text-align: justify;
    padding: 7px;
    padding-left: 40px;
    margin: 7px;
    margin-right: 27px;
    display: inline-block;
}



/*fonte: cor, tamanho, sombra e text decoration.*/
nav#menu a {
    text-shadow: 1px 1px 3px rgb(26, 26, 26);
    font-size: 18px;
    color: rgb(228, 208, 141);
    text-decoration: transparent;
}
nav#menu a:hover {
    color: rgb(241, 241, 241);
    transition: color 0.3s;
}
/*CONTEÚDO*/
main {
    width: 900px;
    margin: auto;
    margin-top: -9px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;

}
main#t {
    padding-top: 30px;
    background-color: rgb(221, 221, 221);

}

img {
    width: 1349px;
    height: 480px;
}
div#img {
    background-color: black;
}
footer {
    position: absolute;
    background-color: rgb(37, 28, 25);
    width: 100%;
}
h1 {
    color: rgb(184, 161, 98);
}
h2 {
    font-family: Futura PT;
    color:rgb(204, 173, 105)
}
p#copy {
    font-size: 14px;
    text-align: right;
    color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
}
a#a {
    margin: 10px;
    margin-bottom: 70px;
    margin-right: 90px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
}
